﻿<div class="sidebar sidebar-right notificacaoDivPrincipal" toggleable parent-active-class="sidebar-right-in" id="mainSidebar">
    <div class="scrollable">
        <div class="scrollable-content">

            <div class="row notificacaoDivDescricao" ng-repeat="notificacao in notificacoes">
                <div class="col-xs-6">{{notificacao.DataDeCriacao | date:'dd/MM/yyyy'}}</div>
                <div class="col-xs-6" ng-if="notificacao.Acao == 'AtualizarListaDeTreinos'">
                    <button class="notificacaoBotaoAtualizar" ng-click="atualizar(notificacao)">ATUALIZAR</button>
                </div>
                <div class="col-xs-12">{{notificacao.Descricao}}</div>
            </div>

        </div>
    </div>
</div>