﻿<!-- Topo -->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center"></div>
    <div class="btn-group pull-left">
        <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle bars">
            <i class="fa fa-bars"></i> <span class="paginaAtual">Treino</span>
        </div>
    </div>
</div>

<!-- Body -->
<div class="app-body">

    <div class="app-content scrollable-content">
        <div class="container">
            <div ng-show="temRegistro">

                <!-- Detalhes do Treino -->
                <div class="text-center">
                    <div class="col-xs-12">
                        <div class="col-xs-12 inicioItemTitulo">TREINO {{treino | treinoTipoFilter}}</div>
                    </div>
                    <div class="col-xs-12 text-center" ng-click="treinar()">
                        <img class="img-responsive inicioTreinoImg" src="img/treinar.jpg" alt="treino" />
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-12">{{treino.DataDeCriacao | date:'dd/MM/yyyy'}} - {{treino.Nome}}</div>
                        <div class="col-xs-12">{{treino.NivelDeDificuldade.Descricao}} / {{treino.ObjetivoTreino.Descricao}}</div>
                        <div class="col-xs-12">Professor {{treino.UsuarioCriadoPor.Nome}}</div>
                        <div class="col-xs-12">
                            <a href="#/historico">
                                Ver Histórico de Treinos
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 espacoEntreLinhas">&nbsp;</div>

                <!-- Lista de Exercicios -->
                <div class="col-xs-12">
                    <accordion close-others="true">
                        <accordion-group heading="{{exercicioTreino.treino}} - {{exercicioTreino.exercicios | treinoGrupoMuscularFilter}}" ng-repeat="exercicioTreino in treino.exerciciosTreino">
                            <div class="row minhaTable" ng-repeat="exercicio in exercicioTreino.exercicios | orderBy: ordenarPorOrdem">
                                <div class="col-xs-12 listaExercicioDivPai">
                                    <img class="img-responsive listaExercicioImg" src="img/exercicios/{{exercicio.Exercicio.Foto}}" />
                                    <div class="listaExercicioDiv">
                                        <div class="col-xs-12 negrito alert-laranja">
                                            {{exercicio.Exercicio.GrupoMuscular.Descricao}} - {{exercicio.Exercicio.Descricao}}
                                        </div>
                                        <div class="col-xs-12 negrito marginTop5">
                                            <span class="floatLeft">Ordem: </span>
                                            <span class="floatLeft" ng-show="exercicio.ExibirEditarExercicio">{{exercicio.Ordem}}</span>
                                            <input type="text" ng-hide="exercicio.ExibirEditarExercicio" class="floatLeft treinoAtivoInput" ng-model="exercicio.Ordem" maxlength="20" value="exercicio.Ordem" ng-disabled="carregando" />
                                        </div>
                                        <div class="col-xs-12 negrito marginTop5">
                                            <span class="floatLeft">Series: </span>
                                            <span class="floatLeft" ng-show="exercicio.ExibirEditarExercicio">{{exercicio.QuantidadeDeSeries}}</span>
                                            <input type="text" ng-hide="exercicio.ExibirEditarExercicio" class="floatLeft treinoAtivoInput" ng-model="exercicio.QuantidadeDeSeries" maxlength="20" value="exercicio.QuantidadeDeSeries" ng-disabled="carregando" />
                                        </div>
                                        <div class="col-xs-12 negrito marginTop5">
                                            <span class="floatLeft">Repetições: </span>
                                            <span class="floatLeft" ng-show="exercicio.ExibirEditarExercicio">{{exercicio.Repeticoes}}</span>
                                            <input type="text" ng-hide="exercicio.ExibirEditarExercicio" class="floatLeft treinoAtivoInput" ng-model="exercicio.Repeticoes" maxlength="20" value="exercicio.Repeticoes" ng-disabled="carregando" />
                                        </div>
                                        <div class="col-xs-12 negrito marginTop5">
                                            <span class="floatLeft">Descanso: </span>
                                            <span class="floatLeft" ng-show="exercicio.ExibirEditarExercicio">{{exercicio.TempoDeDescando}} segundos</span>
                                            <input type="text" ng-hide="exercicio.ExibirEditarExercicio" class="floatLeft treinoAtivoInput" ng-model="exercicio.TempoDeDescando" maxlength="20" value="exercicio.TempoDeDescando" ng-disabled="carregando" />
                                        </div>
                                        <div class="col-xs-12 negrito marginTop5">
                                            <span class="floatLeft">Carga: </span>
                                            <input type="tel" class="floatLeft treinoAtivoInput" ng-model="exercicio.Carga" maxlength="20" value="exercicio.Carga" ng-model-options="{updateOn: 'blur'}" ng-change="atualizarPeso(exercicio)" ng-disabled="carregando" />
                                            <!--<span class="floatLeft" ng-show="exercicio.ExibirEditarExercicio">{{exercicio.Carga}}</span>
                                            <input type="text" ng-hide="exercicio.ExibirEditarExercicio" class="floatLeft treinoAtivoInput" ng-model="exercicio.Carga" maxlength="20" value="exercicio.Carga" ng-disabled="carregando"/>-->
                                        </div>

                                        <!--<div class="col-xs-12 negrito marginTop5" ng-click="editarExercicio(exercicio)" ng-show="exercicio.ExibirEditarExercicio">
                                            <button class="btn-treino-ativo-editar">Editar</button>
                                        </div>
                                        <div class="col-xs-6 negrito marginTop5" ng-click="salvarExercicio(exercicio)" ng-hide="exercicio.ExibirEditarExercicio">
                                            <button class="btn-treino-ativo-salvar">Salvar</button>
                                        </div>
                                        <div class="col-xs-6 negrito marginTop5" ng-click="cancelarEdicaoExercicio(exercicio)" ng-hide="exercicio.ExibirEditarExercicio">
                                            <button class="btn-treino-ativo-cancelar">Cancelar</button>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-xs-12 espacoEntreLinhas">&nbsp;</div>
                            </div>
                            <div class="col-xs-12 divLaranja">
                                <button class="btn-laranja-escuro marginTop5" ng-click="treinoRealizado(exercicioTreino)" ng-disabled="carregando">TREINO REALIZADO</button>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
            <div class="finalDaPagina200">&nbsp;</div>
        </div>
    </div>
</div>

<!-- Bottom -->
<div class="navbar navbar-app navbar-absolute-bottom meuBotoom">
    <div class="col-xs-6 btn-navbar text-left">TREINO PRO</div>
    <div class="col-xs-6 btn-navbar text-right" ng-show="carregando">
        Carregando <i class="fa fa-spinner fa-spin loading-spinner"></i>
    </div>
</div>
