﻿<!-- Topo -->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center"></div>
    <div class="btn-group pull-left">
        <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle bars">
            <i class="fa fa-bars"></i>
            <span class="paginaAtual" ng-hide="souProfessor">Treinos</span>
        </div>
    </div>


    <!-- menu -->
    <div ng-hide="souProfessor">
        <div class="btn-group pull-right">
            <div class="btn menuPaginas" ng-click="subMenuExibir()">
                <i class="fa fa-ellipsis-v"></i>
            </div>
            <ul class="dropdown-menu menuTopo" ng-show="submenu">
                <li ng-click="meusTreinos()">
                    Meus Treinos
                </li>
                <li ng-show="exibirTreino" ng-click="exibirTreinoToggle(null)">
                    Voltar para busca
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="app-body" ng-click="subMenuEsconder()">

    <div class="app-content scrollable-content">
        <div class="container" ng-hide="exibirTreino">

            <!-- Filtro -->
            <div class="row">
                <form class="form-horizontal" role="form" name="form">
                    <div class="form-group">
                        <label class="control-label col-xs-12">Objetivo</label>
                        <div class="col-xs-12">
                            <select class="form-control" ng-options="o.Id as o.Descricao for o in objetivoTreinos" ng-model="objetivoTreino" name="objetivoTreino"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Nível de dificuldade</label>
                        <div class="col-xs-12">
                            <select class="form-control" ng-options="o.Id as o.Descricao for o in nivelDeDificuldades" ng-model="nivelDeDificuldade" name="nivelDeDificuldade"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <button ng-click="buscarTreino()" class="btn-laranja-escuro">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Lista de Treinos -->
            <div class="row minhaTable listaDeTreinos" ng-show="temRegistro" ng-repeat="treino in treinos">
                <div class="col-xs-10" ng-click="exibirTreinoToggle(treino)">
                    <div class="row academiaNome">{{treino.Nome}} - {{treino.DataDeCriacao | date:'dd/MM/yyyy'}}</div>
                    <div class="row academiaCidadeBairro">Objetivo: {{treino.ObjetivoTreino.Descricao}}</div>
                    <div class="row academiaCidadeBairro">Nivel: {{treino.NivelDeDificuldade.Descricao}}</div>
                    <div class="row academiaCidadeBairro">Professor: {{treino.UsuarioCriadoPor.Nome}}</div>
                </div>
                <div class="col-xs-2 pull-right icoAtivoTreinos" ng-class="{'icoOkAtivo': treino.Usuario.Id == $rootScope.Usuario.Id, 'btnOpacity': carregando}" ng-click="selecionar(treino)">
                    <i class="fa fa-check-circle-o"></i>
                </div>
            </div>

            <!-- Sem resultado -->
            <div class="row" ng-hide="temRegistro">
                Favor escolher um filtro para pesquisar
            </div>

        </div>

        <!-- Exibir Treino -->
        <div class="container" ng-show="exibirTreino">

            <!-- Detalhes do Treino -->
            <div class="text-center">
                <div class="col-xs-12">
                    <div class="col-xs-12 inicioItemTitulo">TREINO {{treino | treinoTipoFilter}}</div>
                </div>
                <div class="col-xs-12" ng-click="treinar()">
                    <img class="img-responsive img-circle img-thumbnail inicioTreinoImg" src="img/treinar.png" alt="treino" />
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12">{{treino.DataDeCriacao | date:'dd/MM/yyyy'}} - {{treino.Nome}}</div>
                    <div class="col-xs-12">{{treino.NivelDeDificuldade.Descricao}} / {{treino.ObjetivoTreino.Descricao}}</div>
                    <div class="col-xs-12">Professor {{treino.UsuarioCriadoPor.Nome}}</div>
                </div>
            </div>

            <div class="col-xs-12 espacoEntreLinhas">&nbsp;</div>

            <!-- Lista de Exercicios -->
            <div class="col-xs-12">
                <accordion close-others="true">
                    <accordion-group heading="{{exercicioTreino.treino}} - {{exercicioTreino.exercicios | treinoGrupoMuscularFilter}}" ng-repeat="exercicioTreino in treino.exerciciosTreino">
                        <div class="row minhaTable" ng-repeat="exercicio in exercicioTreino.exercicios | orderBy: ordenarPorOrdem">
                            <div class="col-xs-12 listaExercicioDivPai">
                                <img class="img-responsive listaExercicioImg" src="img/exercicios/{{exercicio.Exercicio.Foto}}" />
                                <div class="listaExercicioDiv">
                                    <div class="col-xs-12 negrito alert-laranja">
                                        {{exercicio.Exercicio.GrupoMuscular.Descricao}} - {{exercicio.Exercicio.Descricao}}
                                    </div>
                                    <div class="col-xs-12 negrito marginTop5">
                                        <span class="floatLeft">Ordem: </span>
                                        <span class="floatLeft" ng-show="exercicio.ExibirEditarExercicio">{{exercicio.Ordem}}</span>
                                        <input type="text" ng-hide="exercicio.ExibirEditarExercicio" class="floatLeft treinoAtivoInput" ng-model="exercicio.Ordem" maxlength="20" value="exercicio.Ordem" ng-disabled="carregando" />
                                    </div>
                                    <div class="col-xs-12 negrito marginTop5">
                                        <span class="floatLeft">Series: </span>
                                        <span class="floatLeft" ng-show="exercicio.ExibirEditarExercicio">{{exercicio.QuantidadeDeSeries}}</span>
                                        <input type="text" ng-hide="exercicio.ExibirEditarExercicio" class="floatLeft treinoAtivoInput" ng-model="exercicio.QuantidadeDeSeries" maxlength="20" value="exercicio.QuantidadeDeSeries" ng-disabled="carregando" />
                                    </div>
                                    <div class="col-xs-12 negrito marginTop5">
                                        <span class="floatLeft">Repetições: </span>
                                        <span class="floatLeft" ng-show="exercicio.ExibirEditarExercicio">{{exercicio.Repeticoes}}</span>
                                        <input type="text" ng-hide="exercicio.ExibirEditarExercicio" class="floatLeft treinoAtivoInput" ng-model="exercicio.Repeticoes" maxlength="20" value="exercicio.Repeticoes" ng-disabled="carregando" />
                                    </div>
                                    <div class="col-xs-12 negrito marginTop5">
                                        <span class="floatLeft">Descanso: </span>
                                        <span class="floatLeft" ng-show="exercicio.ExibirEditarExercicio">{{exercicio.TempoDeDescando}}</span>
                                        <input type="text" ng-hide="exercicio.ExibirEditarExercicio" class="floatLeft treinoAtivoInput" ng-model="exercicio.TempoDeDescando" maxlength="20" value="exercicio.TempoDeDescando" ng-disabled="carregando" />
                                    </div>
                                    <div class="col-xs-12 negrito marginTop5">
                                        <span class="floatLeft">Carga: </span>
                                        <!--<input type="text" class="floatLeft treinoAtivoInput" ng-model="exercicio.Carga" maxlength="20" value="exercicio.Carga" ng-model-options="{updateOn: 'blur'}" ng-change="atualizarPeso(exercicio)" ng-disabled="carregando" />-->
                                        <span class="floatLeft" ng-show="exercicio.ExibirEditarExercicio">{{exercicio.Carga}}</span>
                                        <!--<input type="text" ng-hide="exercicio.ExibirEditarExercicio" class="floatLeft treinoAtivoInput" ng-model="exercicio.Carga" maxlength="20" value="exercicio.Carga" ng-disabled="carregando"/>-->
                                    </div>

                                    <!--<div class="col-xs-12 negrito marginTop5" ng-click="editarExercicio(exercicio)" ng-show="exercicio.ExibirEditarExercicio">
                                        <button class="btn-treino-ativo-editar">Editar</button>
                                    </div>
                                    <div class="col-xs-6 negrito marginTop5" ng-click="salvarExercicio(exercicio)" ng-hide="exercicio.ExibirEditarExercicio">
                                        <button class="btn-treino-ativo-salvar">Salvar</button>
                                    </div>
                                    <div class="col-xs-6 negrito marginTop5" ng-click="cancelarEdicaoExercicio(exercicio)" ng-hide="exercicio.ExibirEditarExercicio">
                                        <button class="btn-treino-ativo-cancelar">Cancelar</button>
                                    </div>-->
                                </div>
                            </div>
                            <div class="col-xs-12 espacoEntreLinhas">&nbsp;</div>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>

    </div>
</div>

<!-- Bottom -->
<div class="navbar navbar-app navbar-absolute-bottom meuBotoom" ng-click="subMenuEsconder()">
    <div class="col-xs-6 btn-navbar text-left">TREINO PRO</div>
    <div class="col-xs-6 btn-navbar text-right" ng-show="carregando">
        Carregando <i class="fa fa-spinner fa-spin loading-spinner"></i>
    </div>
</div>
