﻿<!-- Topo -->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center"></div>
    <div class="btn-group pull-left">
        <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle bars">
            <i class="fa fa-bars"></i> <span class="paginaAtual">Histórico do Treino</span>
        </div>
    </div>
</div>

<!-- Body -->
<div class="app-body">

    <div class="app-content scrollable-content">
        <div class="container">

            <div class="row minhaTable listaDeTreinos" ng-show="temRegistro" ng-repeat="historico in historicos.DiaTreinoRealizados">
                <div class="col-xs-12">
                    <div class="row academiaNome">Treino {{historico.Dia.Descricao}}</div>
                    <div class="row academiaCidadeBairro">{{historico.Dia.DiaTreinos | treinoGrupoMuscularFilter}}</div>
                    <div class="row academiaCidadeBairro">{{historico.RealizadoEm | date:'dd/MM/yyyy'}}</div>
                </div>
            </div>

            <div class="row marginTop20">
                <div class="col-xs-12" ng-show="historicos.TotalTreinoA > 0">
                    Treino A = {{historicos.TotalTreinoA}}
                </div>

                <div class="col-xs-12" ng-show="historicos.TotalTreinoB > 0">
                    Treino B = {{historicos.TotalTreinoB}}
                </div>

                <div class="col-xs-12" ng-show="historicos.TotalTreinoC > 0">
                    Treino C = {{historicos.TotalTreinoC}}
                </div>

                <div class="col-xs-12" ng-show="historicos.TotalTreinoD > 0">
                    Treino D = {{historicos.TotalTreinoD}}
                </div>

                <div class="col-xs-12" ng-show="historicos.TotalTreinoE > 0">
                    Treino E = {{historicos.TotalTreinoE}}
                </div>

                <div class="col-xs-12" ng-show="historicos.TotalTreinoF > 0">
                    Treino F = {{historicos.TotalTreinoF}}
                </div>

                <div class="col-xs-12" ng-hide="carregando || !temRegistro">
                    Total de Treinos = {{historicos.TotalTreinos}}
                </div>
            </div>

            <div class="row" ng-show="!temRegistro && !carregando">
                <div class="col-xs-12">
                    Ainda sem histórico? Sempre que realizar um treino, marque ele como TREINO REALIZADO, assim ele ficará gravado para você visualizar o histórico.
                </div>
            </div>

            <div class="row" ng-show="carregando">
                <div class="col-xs-12 text-center">
                    Carregando <i class="fa fa-spinner fa-spin loading-spinner"></i>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Bottom -->
<div class="navbar navbar-app navbar-absolute-bottom meuBotoom">
    <div class="col-xs-6 btn-navbar text-left">TREINO PRO</div>
    <div class="col-xs-6 btn-navbar text-right" ng-show="carregando">
        Carregando <i class="fa fa-spinner fa-spin loading-spinner"></i>
    </div>
</div>
