﻿<!-- Topo -->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center"></div>
    <div class="btn-group pull-left">
        <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle bars">
            <i class="fa fa-bars"></i>
            <span class="paginaAtual" ng-hide="verAnamnese || verTreinos">ALUNOS</span>
            <span class="paginaAtual" ng-show="verAnamnese">{{Anamnese.AlunoNome | alunoNomeFilter}}</span>
            <span class="paginaAtual" ng-show="verTreinos">{{treino.AlunoNome | alunoNomeFilter}}</span>
        </div>
    </div>

    <!-- menu -->
    <div ng-show="menuExibir">
        <div class="btn-group pull-right">
            <div class="btn menuPaginas" ng-click="subMenuExibir()">
                <i class="fa fa-ellipsis-v"></i>
            </div>
            <ul class="dropdown-menu menuTopo" ng-show="submenu">
                <li ng-click="voltarParaLista()">
                    Voltar para alunos
                </li>
                <li ng-click="adicionarTreino(treino.AlunoId)" class="ultimo" ng-show="adicionarTreinoExibir">
                    Adicionar treino
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Body -->
<div class="app-body" ng-click="subMenuEsconder()">

    <!-- Alunos -->
    <div class="app-content scrollable-content" ng-hide="verAnamnese || verTreinos">
        <div class="container">
            <div class="row" ng-show="!adicionar">
                <div class="col-sm-12 col-xs-12, col-sm-12, col-lg-12">
                    <input type="text" class="form-control inputBuscar" id="inputEmail3" placeholder="Aluno" ng-model="nome">
                    <button type="submit" class="btn-meu btn-cinza-escuro submitBuscar" ng-class="{btnOpacity: carregando}" ng-click="listar()" ng-disabled="carregando">Buscar</button>
                </div>
            </div>
            <div class="row minhaTable listaAcademias" ng-show="temRegistro" ng-repeat="aluno in alunos | orderBy:ordenarPor">
                <div class="col-xs-3">
                    <img src="http://graph.facebook.com/{{aluno.FacebookId}}/picture?type=square" class="img-responsive img-circle" alt="" />
                </div>
                <div class="col-xs-7">
                    <div class="row academiaNome">{{aluno.Nome}}</div>
                    <div class="row academiaCidadeBairro">{{aluno.Academia.Nome}} - {{aluno.Academia.Bairro}}</div>
                </div>
                <div ng-click="exibirSubMenu($index)" ng-disabled="carregando" class="col-xs-2 pull-right listaMenu" ng-class="{'btnOpacity': carregando}">
                    <i class="fa fa-ellipsis-v"></i>
                    <ul class="dropdown-menu menuTopo" ng-show="aluno.SubMenuExibir">
                        <li ng-click="anamnese($index)">
                            Anamnese
                        </li>
                        <li ng-click="treinosPorAluno($index)" class="ultimo">
                            Treinos
                        </li>
                    </ul>
                </div>
            </div>
            <div class="finalDaPagina">&nbsp;</div>
            <label class="row alert-laranja alunosAlerta" ng-show="alerta">{{alertaMensagem}}</label>
        </div>
    </div>

    <!-- Treinos -->
    <div class="app-content scrollable-content" ng-show="!verAnamnese && verTreinos">
        <div class="container">
            <div class="row minhaTable listaDeTreinos" ng-show="temRegistro" ng-repeat="treinoItem in treino.treinos | orderBy:ordenarPorAtivoDesc:true">
                <div class="col-xs-10">
                    <div class="row academiaNome">{{treinoItem.Nome}} ({{treinoItem | treinoTipoFilter}})</div>
                    <div class="row academiaCidadeBairro">{{treinoItem.NivelDeDificuldade.Descricao}} - {{treinoItem.ObjetivoTreino.Descricao}}</div>
                    <div class="row academiaCidadeBairro"><strong>Ativo: </strong>{{treinoItem.Ativo | boolFilter}}</div>
                </div>
                <div ng-click="editarTreino($index)" ng-disabled="carregando" class="col-xs-2 pull-right listaMenu" ng-class="{'btnOpacity': carregando}">
                    <i class="fa fa-pencil-square-o alunoTreinoIcoEditar"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- Anamnese -->
    <div class="app-content scrollable-content" ng-show="verAnamnese && !verTreinos">
        <div class="container">
            <div class="col-xs-12"><strong>Data de nascimento</strong></div>
            <div class="col-xs-12 anamneseAlunoEspaco">{{Anamnese.DataDeNascimento | date:'dd/MM/yyyy'}}</div>

            <div class="col-xs-12"><strong>Atividades da vida diária</strong></div>
            <div class="col-xs-12 anamneseAlunoEspaco">{{Anamnese.AtividadesDaVidaDiaria}}</div>

            <div class="col-xs-12"><strong>Histórico médico</strong></div>
            <div class="col-xs-12 anamneseAlunoEspaco">{{Anamnese.HistoricoMedico}}</div>

            <div class="col-xs-12"><strong>Alergia</strong></div>
            <div class="col-xs-12 anamneseAlunoEspaco">{{Anamnese.Alergia}}</div>

            <div class="col-xs-12"><strong>Acidente</strong></div>
            <div class="col-xs-12 anamneseAlunoEspaco">{{Anamnese.Acidente}}</div>

            <div class="col-xs-12"><strong>Restrição a alguma atividade fisica</strong></div>
            <div class="col-xs-12 anamneseAlunoEspaco">{{Anamnese.RestricaoAtividadeFisica}}</div>

            <div class="col-xs-12"><strong>Fumante</strong></div>
            <div class="col-xs-12 anamneseAlunoEspaco">{{Anamnese.Fumante | boolFilter}}</div>

            <div class="col-xs-12"><strong>Pratica alguma atividade fisica</strong></div>
            <div class="col-xs-12 anamneseAlunoEspaco">{{Anamnese.RealizaAtividadeFisica}}</div>

            <div class="col-xs-12"><strong>Qtd. de dias para treinar</strong></div>
            <div class="col-xs-12 anamneseAlunoEspaco">{{Anamnese.DiasParaTreinar}}</div>

            <div class="col-xs-12"><strong>Qtd. de horas para treinar</strong></div>
            <div class="col-xs-12 anamneseAlunoEspaco">{{Anamnese.HorasParaTreinarPorDia}}</div>

            <div class="col-xs-12"><strong>Comentário</strong></div>
            <div class="col-xs-12 anamneseAlunoEspaco">{{Anamnese.ComentariosGerais}}</div>

            <div class="finalDaPagina">&nbsp;</div>
        </div>
    </div>
</div>

<!-- Bottom -->
<div class="navbar navbar-app navbar-absolute-bottom meuBotoom" ng-click="subMenuEsconder()">
    <div class="col-xs-6 btn-navbar text-left">TREINO PRO</div>
    <div class="col-xs-6 btn-navbar text-right" ng-show="carregando">
        Carregando <i class="fa fa-spinner fa-spin loading-spinner"></i>
    </div>
</div>
