﻿<!-- login para iphone -->
<div class="loginTopo" ng-hide="primeiroAcesso">
    <div class="row">
        <div class="col-xs-12 text-center">
            <img src="img/logo.png" alt="Treino Pro" />
            <h1 class="loginH1">
                TREINO PRO
            </h1>
        </div>
    </div>
</div>

<div class="container loginForm" ng-hide="primeiroAcesso">
    <div class="row">
        <div class="col-xs-12">
            <label><strong>Nome</strong></label>
        </div>
        <div class="col-xs-12">
            <input type="text" ng-model="nome" maxlength="100" class="form-control" />
        </div>

        <div class="col-xs-12" style="display: none;">
            <label class="loginInput"><strong>Nome</strong></label>
        </div>
        <div class="col-xs-12" style="display: none;">
            <input type="text" ng-model="nome" maxlength="200" class="form-control" />
        </div>

        <div class="col-xs-12">
            <button class="btn-laranja-escuro loginInput" ng-click="entrar()" ng-disabled="carregando">
                ENTRAR
            </button>
        </div>

        <div class="col-xs-12">
            <label class="loginAlerta">{{alerta}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 finalDaPagina200">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-xs-12 finalDaPagina200">&nbsp;</div>
    </div>
</div>

<!-- login para android -->
<!--<div class="row loginDivImage" id="login-btn" ng-hide="carregando || primeiroAcesso" ng-click="entrar()" ng-disabled="carregando">
    <img class="img-responsive login" src="img/login1Editado.png" style="height:100%; width: 110%;" />
</div>

<div class="row loginDivImage" id="login-btn" ng-show="carregando && !primeiroAcesso">
    <img class="img-responsive login" src="img/login1EditadoCarregando.png" style="height: 100%; width: 110%;" />
</div>-->

<!-- Tour -->
<div class="container" ng-show="primeiroAcesso">
    <img ng-repeat="slide in slides" class="img-responsive" ng-hide="!isCurrentSlideIndex($index)" ng-src="img/tour/{{slide.image}}" alt="" />
    <div class="row">
        <div class="col50 pull-left">
            <button class="btn-laranja" ng-click="prevSlide()">VOLTAR</button>
        </div>
        <div class="col50 pull-right avancar">
            <button class="btn-laranja" ng-click="nextSlide()">AVANÇAR</button>
        </div>
    </div>
</div>

<div class="container" ng-show="exibirCarregando">
    <div class="col-xs-12 marginTop20">
        <div class="col-xs-12 loginCarregando" ng-show="carregando">
            Carregando <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
    </div>
</div>

<!-- Bottom -->
<div class="navbar navbar-app navbar-absolute-bottom meuBotoom" ng-show="primeiroAcesso">
    <div class="col-xs-6 btn-navbar text-left">
        TREINO PRO
    </div>
    <div class="col-xs-6 btn-navbar text-right" ng-show="carregando">
        Carregando <i class="fa fa-spinner fa-spin loading-spinner"></i>
    </div>
    <div class="col-xs-6 btn-navbar text-right" ng-hide="carregando" ng-click="pular()">
        PULAR
    </div>
</div>