﻿<!-- Topo -->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center"></div>
    <div class="btn-group pull-left">
        <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle bars">
            <i class="fa fa-bars"></i> <span class="paginaAtual">Academia</span>
        </div>
    </div>
    
    <!-- menu -->
    <div ng-show="adicionar">
        <div class="btn-group pull-right">
            <button class="salvarForm" ng-class="{btnOpacity: carregando || form.$invalid}" ng-disabled="carregando || form.$invalid" ng-click="adicionarAcademia()">SALVAR</button>
            <button class="salvarForm" ng-class="{btnOpacity: carregando}" ng-disabled="carregando" ng-click="cancelar()">| <span style="padding-left: 10px;">CANCELAR</span></button>
        </div>
    </div>
</div>

<!-- Body -->
<div class="app-body" ng-click="menu=false">
    <div class="app-content scrollable-content">
        <div class="container">
            <div class="row" ng-hide="adicionar">
                <div class="col-sm-12 col-xs-12, col-sm-12, col-lg-12">
                    <input type="text" class="form-control inputBuscar" id="inputEmail3" placeholder="Academia" ng-model="nome">
                    <button type="submit" class="btn-meu btn-cinza-escuro submitBuscar" ng-class="{btnOpacity: carregando}" ng-click="listar()" ng-disabled="carregando">Buscar</button>
                </div>
            </div>
            <div class="row minhaTable listaAcademias" ng-show="temRegistro" ng-repeat="academia in academias | orderBy:ordenarPor">
                <div class="col-xs-10">
                    <div class="row academiaNome">{{academia.Nome}}</div>
                    <div class="row academiaCidadeBairro">{{academia.Cidade}} - {{academia.Bairro}}</div>
                </div>
                <div ng-hide="academia.MinhaAcademia" type="button" ng-click="selecionar(academia.Id)" ng-disabled="carregando" class="col-xs-2 pull-right icoAtivoTreinos" ng-class="{'btnOpacity': carregando}">
                    <i class="fa fa-check-circle-o"></i>
                </div>
                <div ng-show="academia.MinhaAcademia" type="button" ng-click="remover(academia.Id)" ng-disabled="carregando" class="col-xs-2 pull-right icoAtivoTreinos icoOkAtivo" ng-class="{'btnOpacity': carregando}">
                    <i class="fa fa-check-circle-o"></i>
                </div>
            </div>
        </div>

        <div class="container" ng-show="adicionar">
            <div class="row obsAcademiaAdicionar">Não encontrou a sua academia? Cadastre para que todos possam encontrar!</div>
            <form class="form-horizontal" role="form" name="form">
                <div class="form-group" ng-class="{'has-error': form.nome.$dirty && form.nome.$invalid}">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2">Nome:</label>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <input type="text" class="form-control" ng-model="academiaForm.nome" name="nome" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.cidade.$dirty && form.cidade.$invalid}">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2">Cidade:</label>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <input type="text" class="form-control" ng-model="academiaForm.cidade" name="cidade" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.bairro.$dirty && form.bairro.$invalid}">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2">Bairro:</label>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <input type="text" class="form-control" ng-model="academiaForm.bairro" name="bairro" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <span class="alert-laranja">Todos os campos são obrigatórios</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <span class="alert-laranja">{{status}}</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Bottom -->
<div class="navbar navbar-app navbar-absolute-bottom meuBotoom">
    <div class="col-xs-6 btn-navbar text-left">TREINO PRO</div>
    <div class="col-xs-6 btn-navbar text-right" ng-show="carregando">
        Carregando <i class="fa fa-spinner fa-spin loading-spinner"></i>
    </div>
</div>
