﻿<!-- Topo -->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center"></div>
    <div class="btn-group pull-left">
        <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle bars">
            <i class="fa fa-bars"></i> <span class="paginaAtual">INÍCIO</span>
        </div>
    </div>
    <div class="btn-group pull-right" yield-to="navbarAction">
        <div ui-toggle="mainSidebar" class="btn sidebar-toggle bars">
            <span ng-class="{temNotificacao: temNotificacao}" class="notificacao" ng-click="lerNotificacao()">NOTIFICAÇÕES</span>
            <i class="fa fa-lightbulb-o notificacaoIcon notificacao" ng-class="{temNotificacao: temNotificacao}" ng-click="lerNotificacao()"></i>
        </div>
    </div>
</div>

<!-- Body -->
<div class="app-body">

    <div class="app-content scrollable-content">
        <div class="container">

            <!-- treino -->
            <div class="row text-center" ng-show="temTreino">
                <div class="col-xs-12">
                    <div class="col-xs-12 inicioItemTitulo">TREINO {{treino | treinoTipoFilter}}</div>
                </div>
                <div class="col-xs-12" ng-click="treinar()">
                    <img class="img-responsive inicioTreinoImg" src="img/modern-equipments-450x450.jpg" alt="treino" />
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12">{{treino.DataDeCriacao | date:'dd/MM/yyyy'}} - {{treino.Nome}}</div>
                    <div class="col-xs-12">{{treino.NivelDeDificuldade.Descricao}} / {{treino.ObjetivoTreino.Descricao}}</div>
                </div>
            </div>

            <div class="row" ng-show="semTreino">
                <div class="col-xs-12">Sem treino ativo. Para ativar acesse seus treinos no menu e clique no icone <img src="img/icoAtivar.png" alt="ativar" /> do treino que deseja ativar. Quando seu treino estiver ativo você poderá inicia-lo por aqui, um botão "Treinar" será exibido.</div>
            </div>

            <div class="finalDaPagina">&nbsp;</div>

            <div class="row inicioMedidasDivPrincipal text-center paddingTop20">
                <div class="col-xs-6 text-center">
                    <a href="#/treinos"><img class="img-responsive inicioMenuImg paddingLeft30" alt="treinos" src="css/icons/fit/png/dumbbell24.png" /></a>
                </div>
                <div class="col-xs-6">
                    <a href="#/medidas"><img class="img-responsive inicioMenuImg paddingLeft10" alt="medidas" src="css/icons/fit/png/fitness.png" /></a>
                </div>

                <div class="col-xs-12 espacoEntreLinhas">&nbsp;</div>

                <div class="col-xs-6">
                    <a href="#/anamnese"><img class="img-responsive inicioMenuImg paddingLeft30" alt="anamnese" src="css/icons/fit/png/notes24.png" /></a>
                </div>
                <div class="col-xs-6">
                    <a href="#/professor"><img class="img-responsive inicioMenuImg paddingLeft10" alt="treinos" src="css/icons/fit/png/bald37.png" /></a>
                </div>
            </div>

            <!-- dicas -->
            <div class="row paddingBotton20">&nbsp;</div>
            <div class="row paddingBotton40" ng-hide="carregandoDicas">
                <div class="col-xs-12 negrito">{{dica.Tela}}</div>
                <div class="col-xs-12">{{dica.Descricao}}</div>
            </div>

            <div class="row paddingBotton40 text-center" ng-show="carregandoDicas">
                carregando dicas <i class="fa fa-spinner fa-spin loading-spinner"></i>
            </div>
            
            <!-- Venha ser nosso parceiro -->
            <div class="row">
                <img class="img-responsive img-rounded" alt="" src="img/parceiro.jpg" />
            </div>
        </div>
    </div>
</div>

<!-- Bottom -->
<div class="navbar navbar-app navbar-absolute-bottom meuBotoom">
    <div class="col-xs-6 btn-navbar text-left">TREINO PRO</div>
    <div class="col-xs-6 btn-navbar text-right" ng-show="carregando">
        Carregando <i class="fa fa-spinner fa-spin loading-spinner"></i>
    </div>
</div>
