﻿<!-- Topo -->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center"></div>
    <div class="btn-group pull-left">
        <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle bars">
            <i class="fa fa-bars"></i> <span class="paginaAtual">Anamnese</span>
        </div>
    </div>

    <!-- menu -->
    <div>
        <div class="btn-group pull-right">
            <button class="salvarForm" ng-class="{btnOpacity: carregando || form.$invalid}" ng-disabled="carregando || form.$invalid" ng-click="salvar()">SALVAR</button>
        </div>
    </div>
</div>

<!-- Body -->
<div class="app-body" ng-click="menu=false">
    <div class="app-content scrollable-content">
        <div class="container" style="overflow: auto">
            <div class="row obsAcademiaAdicionar">Preencha a ficha corretamente para que seu professor possa montar seu treino de forma correta.</div>
            <form role="form" name="form">
                <div class="form-group" ng-class="{'error-border': form.dataDeNascimento.$error.date}">
                    <label>Data de nascimento</label>
                    <input type="date" class="form-control" ng-model="formEditar.dataDeNascimento" name="dataDeNascimento" maxlength="10" />
                </div>
                <div class="form-group">
                    <label>Atividades da vida diária</label>
                    <textarea class="form-control" ng-model="formEditar.atividadesDaVidaDiaria" name="atividadesDaVidaDiaria" placeholder="Descrever as atividades do dia a dia. Ex. Para ir e vir ao trabalho, utilizo transporte público. No ambiente de trabalho permaneço a maior parte do tempo sentado. A noite caminho 20 minutos com o cachorro" maxlength="500"></textarea>
                </div>
                <div class="form-group">
                    <label>Histórico médico</label>
                    <textarea class="form-control" ng-model="formEditar.historicoMedico" name="historicoMedico" placeholder="Descrever se já teve ou tem alguma doença, se utiliza algum tipo de remédio e se tem algum problema cronico" maxlength="500"></textarea>
                </div>
                <div class="form-group">
                    <label>Alergia</label>
                    <textarea class="form-control" ng-model="formEditar.alergia" name="alergia" placeholder="Descrever se possui alergia e quais" maxlength="500"></textarea>
                </div>
                <div class="form-group">
                    <label>Acidente</label>
                    <textarea class="form-control" ng-model="formEditar.acidente" name="acidente" placeholder="Descrever se ja sofreu algum acidente" maxlength="500"></textarea>
                </div>
                <div class="form-group">
                    <label>Restricao atividade fisica</label>
                    <textarea class="form-control" ng-model="formEditar.restricaoAtividadeFisica" name="restricaoAtividadeFisica" placeholder="Descrever se devido a algum problema não pode exercer alguma atividade física." maxlength="500"></textarea>
                </div>
                <div class="form-group">
                    <label>Fumante</label>
                    <input type="checkbox" ng-model="formEditar.fumante" name="fumante" ng-checked="formEditar.fumante" />
                </div>
                <div class="form-group">
                    <label>Realiza atividade fisica</label>
                    <textarea class="form-control" ng-model="formEditar.realizaAtividadeFisica" name="realizaAtividadeFisica" placeholder="Descrever se é praticante de alguma atividade física(Futebol, Corrida, etc)" maxlength="500"></textarea>
                </div>
                <div class="form-group">
                    <label>Quantidade de dias para treinar</label>
                    <input type="tel" class="form-control" ng-model="formEditar.diasParaTreinar" name="diasParaTreinar" maxlength="2" so-numeros />
                </div>
                <div class="form-group">
                    <label>Quantidade de horas para treinar por dia</label>
                    <input type="tel" class="form-control" ng-model="formEditar.horasParaTreinarPorDia" name="horasParaTreinarPorDia" maxlength="20" />
                </div>
                <div class="form-group">
                    <label>Comentários Gerais</label>
                    <textarea class="form-control" ng-model="formEditar.comentariosGerais" name="comentariosGerais" maxlength="500"></textarea>
                </div>
                <div class="finalDaPagina200">&nbsp;</div>
            </form>
        </div>
    </div>
</div>

<!-- Bottom -->
<div class="navbar navbar-app navbar-absolute-bottom meuBotoom">
    <div class="col-xs-6 btn-navbar text-left">TREINO PRO</div>
    <div class="col-xs-6 btn-navbar text-right" ng-show="carregando">
        Carregando <i class="fa fa-spinner fa-spin loading-spinner"></i>
    </div>
    <div class="col-xs-6 btn-navbar text-right" ng-hide="carregando">
        <span class="alert-laranja pull-right alertAnamnese" ng-show="status"> {{status}}</span>
    </div>
</div>
