﻿<!-- Topo -->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center"></div>
    <div class="btn-group pull-left">
        <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle bars">
            <i class="fa fa-bars"></i> <span class="paginaAtual">Treino</span>
        </div>
    </div>

    <!-- menu -->
    <div>
        <div class="btn-group pull-right">
            <button class="salvarForm" ng-class="{btnOpacity: carregando || form.$invalid}" ng-disabled="form.$invalid" ng-click="salvar()">SALVAR</button>
            <div class="salvarFormDivisoria" ng-show="exibirBotaoSalvar">|</div>
            <div class="btn menuPaginas" ng-click="subMenuExibir()">
                <i class="fa fa-ellipsis-v"></i>
            </div>
            <ul class="dropdown-menu menuTopo" ng-show="submenu">
                <li ng-click="voltarParaAlunos()">
                    Voltar para alunos
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Body -->
<div class="app-body" ng-click="subMenuEsconder()">

    <div class="app-content scrollable-content">
        <div class="container">
            <form class="form-horizontal" role="form" name="form">

                <!-- aluno nome -->
                <div class="form-group">
                    <strong class="col-xs-3">Aluno: </strong>
                    <span class="col-xs-9">{{formCadastro.usuarioNome}}</span>
                </div>

                <!-- nome -->
                <div class="form-group">
                    <label class="control-label col-xs-12">Nome</label>
                    <div class="col-xs-12">
                        <input type="text" class="form-control" ng-model="formCadastro.nome" name="nome" maxlength="20" placeholder="Ex. Treino ABC" />
                    </div>
                </div>

                <!-- objetivo treino -->
                <div class="form-group">
                    <label class="control-label col-xs-12">Objetivo</label>
                    <div class="col-xs-12">
                        <select class="form-control" ng-options="o.Id as o.Descricao for o in objetivoTreinos" ng-model="formCadastro.objetivoTreinoId" name="objetivoTreinoId"></select>
                    </div>
                </div>

                <!-- Nível de dificuldade -->
                <div class="form-group">
                    <label class="control-label col-xs-12">Nível de dificuldade</label>
                    <div class="col-xs-12">
                        <select class="form-control" ng-options="o.Id as o.Descricao for o in nivelDeDificuldades" ng-model="formCadastro.nivelDeDificuldadeId" name="nivelDeDificuldadeId"></select>
                    </div>
                </div>

                <!-- ativo -->
                <div class="form-group">
                    <label class="control-label col-xs-3">Ativo?</label>
                    <i class="fa fa-times treinosChkAtivo" ng-hide="formCadastro.ativo" ng-click="ativar()"></i>
                    <i class="fa fa-check treinosChkAtivo" ng-show="formCadastro.ativo" ng-click="ativar()"></i>
                </div>

                <!-- Dias -->
                <div class="form-group">
                    <label class="control-label col-xs-12">Dia treino</label>
                    <div class="col-xs-12">
                        <select class="form-control" data-ng-options="o.Descricao for o in dias" ng-model="formCadastro.dia" placeholder="Selecione um Treino" name="dia" ng-change="alterarDia()"></select>
                    </div>
                </div>

                <div class="finalDaPagina">&nbsp;</div>

                <!-- Treinos A -->
                <div ng-show="treinoA">
                    <div class="form-group">
                        <label class="control-label col-xs-12">Treino A</label>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Grupo Muscular</label>
                        <div class="col-xs-12">
                            <select class="form-control" ng-options="o.Descricao for o in formCadastro.grupoMuscularesaA" ng-model="formCadastro.grupoMuscularA" placeholder="Selecione um Grupo Muscular" name="grupoMuscularA" ng-change="listarExerciciosPorGrupoMuscular()"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Exercicio</label>
                        <div class="col-xs-12">
                            <select class="form-control" ng-options="o.Descricao for o in formCadastro.exerciciosA" ng-model="formCadastro.exercicioA" placeholder="Selecione um Exercicio" name="exercicioA"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Quantidade de series</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.quantidadeDeSeriesA" name="quantidadeDeSeriesA" maxlength="2" placeholder="Ex. 4" so-numeros />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Repeticoes</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.repeticoesA" name="repeticoesA" maxlength="20" placeholder="Ex. 4 de 8 ou 12/10/8/6" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Carga</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.cargaA" name="cargaA" maxlength="20" placeholder="Ex. 30/30/30/30 ou 20/25/30/30" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Ordem</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.ordemA" name="ordemA" maxlength="5" placeholder="Ex. 1 ou 1.1 no caso de bisets" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Tempo de descando</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.tempoDeDescandoA" name="tempoDeDescandoA" maxlength="20" placeholder="Ex. 60 segundos" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <button ng-click="adicionarExercicio()" class="btn-laranja-escuro">Adicionar</button>
                        </div>
                    </div>

                    <!-- lista com os exercicios para o treino A -->
                    <div class="row listaDeTreinos" ng-repeat="exercicioTreinoA in formCadastro.exerciciosTreinoA | orderBy:ordenarPor">
                        <div class="col-xs-12">
                            <div class="row minhaTable">
                                <div class="col-xs-10">
                                    <div class="row academiaNome">{{exercicioTreinoA.Exercicio.Descricao}}</div>
                                    <div class="row academiaCidadeBairro">Ordem: {{exercicioTreinoA.Ordem}}</div>
                                </div>
                                <div class="col-xs-2 pull-right itemTreinoExcluir">
                                    <i class="fa fa-times" ng-class="{btnOpacity: carregando}" ng-disabled="carregando" ng-click="removerExercicioDeTreino($index)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Treinos B -->
                <div ng-show="treinoB">
                    <div class="form-group">
                        <label class="control-label col-xs-12">Treino B</label>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Grupo Muscular</label>
                        <div class="col-xs-12">
                            <select class="form-control" ng-options="o.Descricao for o in formCadastro.grupoMuscularesaB" ng-model="formCadastro.grupoMuscularB" placeholder="Selecione um Grupo Muscular" name="grupoMuscularB" ng-change="listarExerciciosPorGrupoMuscular()"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Exercicio</label>
                        <div class="col-xs-12">
                            <select class="form-control" ng-options="o.Descricao for o in formCadastro.exerciciosB" ng-model="formCadastro.exercicioB" placeholder="Selecione um Exercicio" name="exercicioB"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Quantidade de series</label>
                        <div class="col-xs-12">
                            <input type="number" class="form-control" ng-model="formCadastro.quantidadeDeSeriesB" name="quantidadeDeSeriesB" maxlength="2" placeholder="Ex. 4" so-numeros />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Repeticoes</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.repeticoesB" name="repeticoesB" maxlength="20" placeholder="Ex. 4 de 8 ou 12/10/8/6" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Carga</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.cargaB" name="cargaB" maxlength="20" placeholder="Ex. 30/30/30/30 ou 20/25/30/30" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Ordem</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.ordemB" name="ordemB" maxlength="5" placeholder="Ex. 1 ou 1.1 no caso de bisets" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Tempo de descando</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.tempoDeDescandoB" name="tempoDeDescandoB" maxlength="20" placeholder="Ex. 60 segundos" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <button ng-click="adicionarExercicio()" class="btn-laranja-escuro">Adicionar</button>
                        </div>
                    </div>

                    <!-- lista com os exercicios para o treino B -->
                    <div class="row listaDeTreinos" ng-repeat="exercicioTreinoB in formCadastro.exerciciosTreinoB | orderBy:ordenarPor">
                        <div class="col-xs-12">
                            <div class="row minhaTable">
                                <div class="col-xs-10">
                                    <div class="row academiaNome">{{exercicioTreinoB.Exercicio.Descricao}}</div>
                                    <div class="row academiaCidadeBairro">Ordem: {{exercicioTreinoB.Ordem}}</div>
                                </div>
                                <div class="col-xs-2 pull-right itemTreinoExcluir">
                                    <i class="fa fa-times" ng-class="{btnOpacity: carregando}" ng-disabled="carregando" ng-click="removerExercicioDeTreino($index)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Treinos C -->
                <div ng-show="treinoC">
                    <div class="form-group">
                        <label class="control-label col-xs-12">Treino C</label>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Grupo Muscular</label>
                        <div class="col-xs-12">
                            <select class="form-control" ng-options="o.Descricao for o in formCadastro.grupoMuscularesaC" ng-model="formCadastro.grupoMuscularC" placeholder="Selecione um Grupo Muscular" name="grupoMuscularC" ng-change="listarExerciciosPorGrupoMuscular()"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Exercicio</label>
                        <div class="col-xs-12">
                            <select class="form-control" ng-options="o.Descricao for o in formCadastro.exerciciosC" ng-model="formCadastro.exercicioC" placeholder="Selecione um Exercicio" name="exercicioC"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Quantidade de series</label>
                        <div class="col-xs-12">
                            <input type="number" class="form-control" ng-model="formCadastro.quantidadeDeSeriesC" name="quantidadeDeSeriesC" maxlength="2" placeholder="Ex. 4" so-numeros />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Repeticoes</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.repeticoesC" name="repeticoesC" maxlength="20" placeholder="Ex. 4 de 8 ou 12/10/8/6" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Carga</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.cargaC" name="cargaC" maxlength="20" placeholder="Ex. 30/30/30/30 ou 20/25/30/30" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Ordem</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.ordemC" name="ordemC" maxlength="5" placeholder="Ex. 1 ou 1.1 no caso de bisets" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Tempo de descando</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.tempoDeDescandoC" name="tempoDeDescandoC" maxlength="20" placeholder="Ex. 60 segundos" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <button ng-click="adicionarExercicio()" class="btn-laranja-escuro">Adicionar</button>
                        </div>
                    </div>

                    <!-- lista com os exercicios para o treino C -->
                    <div class="row listaDeTreinos" ng-repeat="exercicioTreinoC in formCadastro.exerciciosTreinoC | orderBy:ordenarPor">
                        <div class="col-xs-12">
                            <div class="row minhaTable">
                                <div class="col-xs-10">
                                    <div class="row academiaNome">{{exercicioTreinoC.Exercicio.Descricao}}</div>
                                    <div class="row academiaCidadeBairro">Ordem: {{exercicioTreinoC.Ordem}}</div>
                                </div>
                                <div class="col-xs-2 pull-right itemTreinoExcluir">
                                    <i class="fa fa-times" ng-class="{btnOpacity: carregando}" ng-disabled="carregando" ng-click="removerExercicioDeTreino($index)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Treinos D -->
                <div ng-show="treinoD">
                    <div class="form-group">
                        <label class="control-label col-xs-12">Treino D</label>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Grupo Muscular</label>
                        <div class="col-xs-12">
                            <select class="form-control" ng-options="o.Descricao for o in formCadastro.grupoMuscularesaD" ng-model="formCadastro.grupoMuscularD" placeholder="Selecione um Grupo Muscular" name="grupoMuscularD" ng-change="listarExerciciosPorGrupoMuscular()"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Exercicio</label>
                        <div class="col-xs-12">
                            <select class="form-control" ng-options="o.Descricao for o in formCadastro.exerciciosD" ng-model="formCadastro.exercicioD" placeholder="Selecione um Exercicio" name="exercicioD"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Quantidade de series</label>
                        <div class="col-xs-12">
                            <input type="number" class="form-control" ng-model="formCadastro.quantidadeDeSeriesD" name="quantidadeDeSeriesD" maxlength="2" placeholder="Ex. 4" so-numeros />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Repeticoes</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.repeticoesD" name="repeticoesD" maxlength="20" placeholder="Ex. 4 de 8 ou 12/10/8/6" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Carga</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.cargaD" name="cargaD" maxlength="20" placeholder="Ex. 30/30/30/30 ou 20/25/30/30" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Ordem</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.ordemD" name="ordemD" maxlength="5" placeholder="Ex. 1 ou 1.1 no caso de bisets" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Tempo de descando</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.tempoDeDescandoD" name="tempoDeDescandoD" maxlength="20" placeholder="Ex. 60 segundos" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <button ng-click="adicionarExercicio()" class="btn-laranja-escuro">Adicionar</button>
                        </div>
                    </div>

                    <!-- lista com os exercicios para o treino D -->
                    <div class="row listaDeTreinos" ng-repeat="exercicioTreinoD in formCadastro.exerciciosTreinoD | orderBy:ordenarPor">
                        <div class="col-xs-12">
                            <div class="row minhaTable">
                                <div class="col-xs-10">
                                    <div class="row academiaNome">{{exercicioTreinoD.Exercicio.Descricao}}</div>
                                    <div class="row academiaCidadeBairro">Ordem: {{exercicioTreinoD.Ordem}}</div>
                                </div>
                                <div class="col-xs-2 pull-right itemTreinoExcluir">
                                    <i class="fa fa-times" ng-class="{btnOpacity: carregando}" ng-disabled="carregando" ng-click="removerExercicioDeTreino($index)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Treinos E -->
                <div ng-show="treinoE">
                    <div class="form-group">
                        <label class="control-label col-xs-12">Treino E</label>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Grupo Muscular</label>
                        <div class="col-xs-12">
                            <select class="form-control" ng-options="o.Descricao for o in formCadastro.grupoMuscularesaE" ng-model="formCadastro.grupoMuscularE" placeholder="Selecione um Grupo Muscular" name="grupoMuscularE" ng-change="listarExerciciosPorGrupoMuscular()"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Exercicio</label>
                        <div class="col-xs-12">
                            <select class="form-control" ng-options="o.Descricao for o in formCadastro.exerciciosE" ng-model="formCadastro.exercicioE" placeholder="Selecione um Exercicio" name="exercicioE"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Quantidade de series</label>
                        <div class="col-xs-12">
                            <input type="number" class="form-control" ng-model="formCadastro.quantidadeDeSeriesE" name="quantidadeDeSeriesE" maxlength="2" placeholder="Ex. 4" so-numeros />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Repeticoes</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.repeticoesE" name="repeticoesE" maxlength="20" placeholder="Ex. 4 de 8 ou 12/10/8/6" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Carga</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.cargaE" name="cargaE" maxlength="20" placeholder="Ex. 30/30/30/30 ou 20/25/30/30" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Ordem</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.ordemE" name="ordemE" maxlength="5" placeholder="Ex. 1 ou 1.1 no caso de bisets" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Tempo de descando</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.tempoDeDescandoE" name="tempoDeDescandoE" maxlength="20" placeholder="Ex. 60 segundos" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <button ng-click="adicionarExercicio()" class="btn-laranja-escuro">Adicionar</button>
                        </div>
                    </div>

                    <!-- lista com os exercicios para o treino E -->
                    <div class="row listaDeTreinos" ng-repeat="exercicioTreinoE in formCadastro.exerciciosTreinoE | orderBy:ordenarPor">
                        <div class="col-xs-12">
                            <div class="row minhaTable">
                                <div class="col-xs-10">
                                    <div class="row academiaNome">{{exercicioTreinoE.Exercicio.Descricao}}</div>
                                    <div class="row academiaCidadeBairro">Ordem: {{exercicioTreinoE.Ordem}}</div>
                                </div>
                                <div class="col-xs-2 pull-right itemTreinoExcluir">
                                    <i class="fa fa-times" ng-class="{btnOpacity: carregando}" ng-disabled="carregando" ng-click="removerExercicioDeTreino($index)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Treinos F -->
                <div ng-show="treinoF">
                    <div class="form-group">
                        <label class="control-label col-xs-12">Treino F</label>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Grupo Muscular</label>
                        <div class="col-xs-12">
                            <select class="form-control" ng-options="o.Descricao for o in formCadastro.grupoMuscularesaF" ng-model="formCadastro.grupoMuscularF" placeholder="Selecione um Grupo Muscular" name="grupoMuscularF" ng-change="listarExerciciosPorGrupoMuscular()"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Exercicio</label>
                        <div class="col-xs-12">
                            <select class="form-control" ng-options="o.Descricao for o in formCadastro.exerciciosF" ng-model="formCadastro.exercicioF" placeholder="Selecione um Exercicio" name="exercicioF"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Quantidade de series</label>
                        <div class="col-xs-12">
                            <input type="number" class="form-control" ng-model="formCadastro.quantidadeDeSeriesF" name="quantidadeDeSeriesF" maxlength="2" placeholder="Ex. 4" so-numeros />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Repeticoes</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.repeticoesF" name="repeticoesF" maxlength="20" placeholder="Ex. 4 de 8 ou 12/10/8/6" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Carga</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.cargaF" name="cargaF" maxlength="20" placeholder="Ex. 30/30/30/30 ou 20/25/30/30" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Ordem</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.ordemF" name="ordemF" maxlength="5" placeholder="Ex. 1 ou 1.1 no caso de bisets" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12">Tempo de descando</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="formCadastro.tempoDeDescandoF" name="tempoDeDescandoF" maxlength="20" placeholder="Ex. 60 segundos" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <button ng-click="adicionarExercicio()" class="btn-laranja-escuro">Adicionar</button>
                        </div>
                    </div>

                    <!-- lista com os exercicios para o treino F -->
                    <div class="row listaDeTreinos" ng-repeat="exercicioTreinoF in formCadastro.exerciciosTreinoF | orderBy:ordenarPor">
                        <div class="col-xs-12">
                            <div class="row minhaTable">
                                <div class="col-xs-10">
                                    <div class="row academiaNome">{{exercicioTreinoF.Exercicio.Descricao}}</div>
                                    <div class="row academiaCidadeBairro">Ordem: {{exercicioTreinoF.Ordem}}</div>
                                </div>
                                <div class="col-xs-2 pull-right itemTreinoExcluir">
                                    <i class="fa fa-times" ng-class="{btnOpacity: carregando}" ng-disabled="carregando" ng-click="removerExercicioDeTreino($index)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-12 alerta">{{formCadastro.mensagemAdicionarExercicio}}</label>
                </div>
            </form>

            <div class="alert-laranja" ng-show="status"><label>{{status}}</label></div>

            <div class="finalDaPagina">&nbsp;</div>
        </div>
    </div>
</div>

<!-- Bottom -->
<div class="navbar navbar-app navbar-absolute-bottom meuBotoom" ng-click="subMenuEsconder()">
    <div class="col-xs-6 btn-navbar text-left">TREINO PRO</div>
    <div class="col-xs-6 btn-navbar text-right" ng-show="carregando">
        Carregando <i class="fa fa-spinner fa-spin loading-spinner"></i>
    </div>
</div>
