﻿.navbar-app {
    border-color: #FF4500;
    background: #FF4500;
    color: #fff;
}

    .navbar-app .btn-navbar, .navbar-app .btn {
        color: #fff;
    }

    .navbar-app .bars {
        font-size: 15px;
        font-weight: normal;
    }

    .navbar-app .navbar-brand-center small {
        font-size: 11px;
    }

.sidebar-left {
    background: #191919;
}

    .sidebar-left .sidebarIcones {
        color: #FF4500;
        margin-top: 4px;
    }

.sidebar-header, .app-name {
    line-height: 51px;
    font-size: 20px;
}

.list-group-item {
    background-color: #242424;
}

a.list-group-item {
    color: #FFf;
}

.list-group-item, a.list-group-item {
    border-bottom: 1px solid #191919;
}

.perfilFoto {
    height: 33px;
    float: left;
    margin-top: 8px;
    padding-right: 8px;
}

.iconLogo {
    height: 19px;
    padding-right: 7px;
    margin-top: -2px !important;
}

.iconTreino {
    padding-right: 7px;
    margin-top: 3px !important;
}

.iconDiv {
    width: 30px;
}

.list-group-item.active, .list-group-item.active:focus {
    background-color: #242424;
    border-color: #191919;
}

.iconAcademia {
    padding-right: 7px;
    margin-top: 2px !important;
}

.iconProfessor {
    padding-right: 7px;
    margin-top: 2px !important;
}

.meusAlunos {
    font-size: 16px;
}

.formProfessor {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

/*.formProfessor .col-lg-1, .formProfessor .col-lg-10, .formProfessor .col-lg-11, .formProfessor .col-lg-12, .formProfessor .col-lg-2, .formProfessor .col-lg-3, .formProfessor .col-lg-4, .formProfessor .col-lg-5, .formProfessor .col-lg-6, .formProfessor .col-lg-7, .formProfessor .col-lg-8, .formProfessor .col-lg-9, .formProfessor .col-md-1, .formProfessor .col-md-10, .formProfessor .col-md-11, .formProfessor .col-md-12, .formProfessor .col-md-2, .formProfessor .col-md-3, .formProfessor .col-md-4, .formProfessor .col-md-5, .formProfessor .col-md-6, .formProfessor .col-md-7, .formProfessor .col-md-8, .formProfessor .col-md-9, .formProfessor .col-sm-1, .formProfessor .col-sm-10, .formProfessor .col-sm-11, .formProfessor .col-sm-12, .formProfessor .col-sm-2, .formProfessor .col-sm-3, .formProfessor .col-sm-4, .formProfessor .col-sm-5, .formProfessor .col-sm-6, .formProfessor .col-sm-7, .formProfessor .col-sm-8, .formProfessor .col-sm-9, .formProfessor .col-xs-1, .formProfessor .col-xs-10, .formProfessor .col-xs-11, .formProfessor .col-xs-12, .formProfessor .col-xs-2, .formProfessor .col-xs-3, .formProfessor .col-xs-4, .formProfessor .col-xs-5, .formProfessor .col-xs-6, .formProfessor .col-xs-7, .formProfessor .col-xs-8, .formProfessor .col-xs-9 {
    padding-right: 0;
    padding-left: 0;
}*/

.btn-meu {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 104px;
}

.espacoEntreLinhas {
    height: 15px;
}

.btn-cinza-escuro-100 {
    color: #fff;
    background-color: #242424;
    border: #191919 solid 1px;
    ;
    width: 100%;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-cinza-escuro {
    color: #fff;
    background-color: #242424;
    border: #191919 solid 1px;
}

    .btn-cinza-escuro:hover {
        color: #fff;
        background-color: #242424;
        border-color: #191919;
    }

    .btn-cinza-escuro:active {
        color: #fff;
        background-color: #242424;
        border-color: #191919;
    }

.btn-laranja-escuro-100 {
    color: #fff;
    background-color: #FF4500;
    border: #FF4519 solid 1px;
    width: 100%;
}

.divLaranja {
    background-color: #FF4500;
}

.btn-laranja-escuro {
    color: #fff;
    background-color: #FF4500;
    border: #FF4519 solid 1px;
    width: 100%;
    height: 35px;
}

.btn-laranja {
    color: #fff;
    background-color: #FF4500;
    border: #FF4519 solid 1px;
    height: 35px;
}

.btn-treino-ativo-editar {
    color: #fff;
    background-color: #FF4500;
    border: #FF4519 solid 1px;
    margin-top: 10px;
    width: 80px;
}

.btn-treino-ativo-salvar {
    color: #fff;
    background-color: #FF4500;
    border: #FF4519 solid 1px;
    margin-top: 10px;
    width: 80px;
}

.btn-treino-ativo-cancelar {
    color: #fff;
    background-color: #242424;
    border: 1px solid #191919;
    margin-top: 10px;
    width: 80px;
}

.btn-laranja-escuro:hover {
    color: #fff;
    background-color: #FF4500;
    border-color: #FF4519;
}

.btn-laranja-escuro:active {
    color: #fff;
    background-color: #FF4500;
    border-color: #FF4519;
}

.tableProfessor {
    margin-top: 10px;
    border: 0;
}

    .tableProfessor td {
        height: 50px;
    }

    .tableProfessor .selecionar {
        width: 20%;
        text-align: right;
        padding-right: 20px !important;
    }

    .tableProfessor .nomeProfessor {
        padding-left: 10px !important;
    }

.tableAcademia {
    margin-top: 10px;
    border: 0;
}

    .tableAcademia td {
        height: 50px;
    }

    .tableAcademia .selecionar {
        width: 20%;
        text-align: right;
        padding-right: 20px !important;
    }

    .tableAcademia .nome {
        padding-left: 10px !important;
    }


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
    border: 0;
}

.inputBuscar {
    width: 70%;
    float: left;
}

.submitBuscar {
    width: 30% !important;
}

.btnOpacity {
    -ms-opacity: 0.5;
    opacity: 0.5;
}

.alert-laranja {
    color: #FF4500;
    font-weight: bold;
}

.alertAnamnese {
    font-size: 9px;
}

.inicioItemTitulo {
    color: #FF4500;
    font-weight: bold;
    font-size: 20px;
}

.minhaTable {
    padding: 17px;
    border-bottom: 1px solid #efefef;
}

    .minhaTable .academiaNome {
        font-weight: bold;
    }

    .minhaTable .academiaCidadeBairro {
        font-size: 12px;
    }

.obsAcademiaAdicionar {
    padding: 8px;
}

a.list-group-item:focus, a.list-group-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #242424;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: #fff;
    text-decoration: none;
    background-color: #242424;
    border-color: #191919;
}

.meuBotoom {
    color: #fff;
    background-color: #242424;
    border: none;
}

.paginaAtual {
    font-size: 15px;
    margin-left: 10px;
}

.notificacao {
    font-size: 15px;
    margin-left: 10px;
    color: #641C00;
}

.notificacaoIcon {
    margin-left: 5px;
}

.temNotificacao {
    color: #fff;
}

.botaoAdicionar {
    color: #fff;
    background-color: #292929;
    border: none;
    cursor: pointer;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}

.finalDaPagina {
    height: 30px;
}

.finalDaPagina150 {
    height: 150px;
}

.finalDaPagina200 {
    height: 200px;
}

.menuTopo {
    color: #000;
}

    .menuTopo li {
        cursor: pointer;
        padding: 10px 10px;
        border-bottom: 1px #efefef solid;
    }

        .menuTopo li.ultimo {
            border-bottom: 0px #efefef solid;
        }


.salvarForm {
    margin-top: 14px;
    float: left;
    padding-right: 10px;
    border: 0;
    background-color: transparent;
}

.salvarFormDivisoria {
    margin-top: 10px;
    float: left;
    padding-right: 0px;
    font-size: 20px;
    font-weight: normal;
    opacity: 0.7;
}

.menuPaginas {
    float: left;
}

.alerta {
    color: #ff5611;
}

.itemTreinoCinza {
    background-color: #efefef;
}

.itemTreinoExcluir {
    text-align: right;
    padding-top: 0;
    font-weight: bold;
}

.listaDeTreinos:nth-of-type(even) {
    background: #efefef;
}

.listaAcademias:nth-of-type(odd) {
    background: #efefef;
}

.icoAtivoTreinos {
    font-size: 35px;
}

.icoOkNaoAtivo {
    -ms-opacity: 0.5;
    opacity: 0.5;
}

.icoOkAtivo {
    color: #ff5611;
}

.listaMenu {
    margin-top: 10px;
    text-align: right;
}

.anamneseAlunoEspaco {
    padding-bottom: 10px;
}

.inicioTreinoTipo {
    text-align: center;
    font-weight: bold;
    color: #FF4519;
}

.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.type1 {
    width: 100px;
    height: 100px;
    background: yellow;
    border: 3px solid red;
}

.type2 {
    width: 50px;
    height: 50px;
    background: #ccc;
    border: 3px solid #000;
}

.type3 {
    width: 500px;
    height: 500px;
    background: aqua;
    border: 30px solid blue;
}

.alunosAlerta {
    padding-left: 17px;
}

.alunosNome {
    padding-left: 17px;
}

.alunoTreinoIcoEditar {
    font-size: 20px;
    padding-top: 9px;
}

.negrito {
    font-weight: bold;
}

.textAlignRight {
    text-align: right !important;
}

.textAlignLeft {
    text-align: left !important;
}

.inicioTituloMedidas {
    padding-bottom: 8px;
    font-size: 30px;
    text-align: center;
    color: #FF4519;
}

.inicioMedidas {
    width: 40%;
    float: left;
}

.treinosChkAtivo {
    margin-top: 10px !important;
    margin-left: 5px;
}

.inicioTreinoTitulo {
    font-size: 30px;
    text-align: center;
    color: #FF4519;
}

.div100 {
    width: 100%;
}

.paddingLeft5 {
    padding-left: 5px;
}

.paddingLeft10 {
    padding-left: 10px;
}

.paddingLeft30 {
    padding-left: 30px;
}

.paddingTop20 {
    padding-top: 20px;
}

.paddingBotton5 {
    padding-bottom: 5px;
}


.paddingBotton20 {
    padding-bottom: 20px;
}

.paddingBotton40 {
    padding-bottom: 40px;
}

.inicioTreinoItemNome {
    width: 30%;
    float: left;
}

.inicioTreinoItemValue {
    width: 70%;
    float: left;
}

.col80 {
    width: 80%;
}

.col75 {
    width: 75%;
}

.col70 {
    width: 70%;
}

.col50 {
    width: 50%;
}

.treinoAtivoInput {
    border: 1px solid #4E4E4E;
    width: 50%;
    background-color: transparent;
}

.floatLeft {
    float: left;
}

.login {
    -moz-min-width: 110%;
    -ms-min-width: 110%;
    -o-min-width: 110%;
    -webkit-min-width: 110%;
    min-width: 110%;
    min-height: 575px;
}

@media only screen and (min-device-height: 572px) {
    .login {
        -moz-min-width: 105%;
        -ms-min-width: 105%;
        -o-min-width: 105%;
        -webkit-min-width: 105%;
        min-width: 105%;
        min-height: 575px;
    }
}

.inicioMedida {
    margin-bottom: 10px;
}

.inicioMedidasImg {
    margin-top: -5px;
    text-align: center !important;
}

.loginDivImage {
    background-color: black;
    height: 100%;
    width: 100%;
}

.listaExercicioDiv {
    position: absolute;
    left: 6px;
    top: 14px;
}

.listaExercicioDivPai {
    position: relative;
    top: 0;
    left: 0;
    min-height: 230px;
}

.listaExercicioImg {
    -ms-opacity: 0.4;
    opacity: 0.4;
}

.inicioTreino {
    margin-top: -5px;
    height: 300px;
}

.inicioTreinoDetalhe {
    padding: 5px 5px;
    background-color: #292929;
}

.inicioTreinoImg {
    height: 200px;
    padding: 4px;
    line-height: 1.42857143;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
}

.inicioTreinoTituloBranco {
    color: #fff;
    position: absolute;
    margin-top: -170px;
    margin-left: 128px;
    font-weight: bold;
}

.inicioMedidasDivPrincipal {
    background-color: #E6E6E6;
    min-height: 300px;
}

.inicioLinksImg {
    height: 50px;
}

.inicioMenuImg {
    height: 125px;
}

.marginTop5 {
    margin-top: 5px;
}

.marginTop20 {
    margin-top: 20px;
}

.notificacaoDivPrincipal {
    background-color: #191919;
}

.notificacaoDivDescricao {
    background-color: #242424;
    padding: 10px 10px;
    color: #D4D4D4;
    margin-top: 2px;
}

.notificacaoBotaoAtualizar {
    color: #fff;
    background-color: #191919 !important;
    border: #000 solid 1px !important;
    width: 86%;
    height: 20px;
    font-size: 11px;
    margin-right: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

.notificacaoCarregando {
    color: #D4D4D4;
    margin-top: 10px;
}

.avancar {
    text-align: right;
}

.divImgTreinoAtivo {
    text-align: center;
}

.loginCarregando {
    font-size: 18px;
}

.loginTopo {
    padding-top: 40px;
    border-bottom: 1px solid #191919;
    background: #242424;
    color: #fff;
    width: 100%;
    height: 200px;
}

.loginH1 {
    font-size: 15px;
}

.loginForm {
    margin-top: 20px;
}

.loginInput {
    margin-top: 20px;
}

.loginAlerta {
    margin-top: 20px;
    font-size: 12px;
    color: #FF4500;
}

.alpha60 {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -moz-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -o-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
}

.blog {
    margin-bottom: 1px;
    width: 100%;
}

    .blog .titulo {
        position: absolute;
        text-align: center;
        float: left;
        margin-top: -85px;
        width: 100%;
        color: #fff;
        height: 70px;
        padding-top: 13px;
        font-size: 17px;
    }
