﻿<div class="scrollable">
    <h1 class="scrollable-header app-name">
        <img src="http://graph.facebook.com/{{usuario.FacebookId}}/picture?type=square" style="margin-top: 8px; height: 33px; float: left" class="img-responsive img-circle" alt="" />
        <label style="margin-left: 8px;"></label> {{usuario.Nome}}
    </h1>
    <div class="scrollable-content">
        <div class="list-group" ui-turn-off='uiSidebarLeft'>
            <a class="list-group-item" href="#/inicio">
                <div class="pull-left iconDiv">
                    <img class="sidebarIcones img-responsive iconLogo" src="img/logo.png" alt="" />
                </div>
                Inicio
            </a>
            <a class="list-group-item" href="#/treinos">
                <div class="pull-left iconDiv">
                    <img class="sidebarIcones img-responsive iconTreino" src="img/iconTreino.png" alt="" />
                </div>
                Treinos
            </a>
            <a class="list-group-item" href="#/toggle" style="display: none;">Amigos <i class="fa fa-chevron-right pull-left sidebarIcones"></i></a>
            <a class="list-group-item" href="#/tabs" style="display: none;">Desafios <i class="fa fa-chevron-right pull-left sidebarIcones"></i></a>
            <a class="list-group-item" href="#/academia">
                <div class="pull-left iconDiv"><img class="sidebarIcones img-responsive iconAcademia" src="img/iconAcademia.png" alt="" /></div>Academia
            </a>
            <a class="list-group-item" href="#/professor">
                <div class="pull-left iconDiv">
                    <img class="sidebarIcones img-responsive iconProfessor" src="img/iconProfessor.png" alt="" />
                </div>
                Professor
            </a>
            <a class="list-group-item" href="#/alunos">
                <div class="pull-left iconDiv">
                    <i class="fa fa-users sidebarIcones meusAlunos"></i>
                </div>
                Alunos
            </a>
            <a class="list-group-item" href="#/anamnese">
                <div class="pull-left iconDiv">
                    <i class="fa fa-file-text-o sidebarIcones meusAlunos"></i>
                </div>
                Anamnese
            </a>
            <a class="list-group-item" href="#/medidas">
                <div class="pull-left iconDiv">
                    <i class="fa fa-bar-chart sidebarIcones meusAlunos"></i>
                </div>
                Medidas
            </a>
        </div>
    </div>
</div>