﻿<!-- Topo -->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center"></div>
    <div class="btn-group pull-left">
        <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle bars">
            <i class="fa fa-bars"></i> <span class="paginaAtual">Medidas</span>
        </div>
    </div>

    <!-- menu -->
    <div>
        <div class="btn-group pull-right">
            <button ng-click="salvar()" ng-class="{btnOpacity: carregando || form.$invalid}" ng-disabled="carregando || form.$invalid" ng-show="exibirBotaoSalvar" class="salvarForm">SALVAR</button>
            <div class="salvarFormDivisoria" ng-show="exibirBotaoSalvar">|</div>
            <div class="btn" ng-click="subMenuExibir()">
                <i class="fa fa-ellipsis-v"></i>
            </div>
            <ul class="dropdown-menu menuTopo ultimo" ng-show="submenu">
                <li ng-click="voltarParaLista()">
                    Minhas Medidas
                </li>
                <li ng-click="obter(null)" class="ultimo">
                    Adicionar Medidas
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Body -->
<div class="app-body" ng-click="submenu = false">
    <div class="app-content scrollable-content">

        <div class="container" ng-show="!exibirFormEditar">
            <div class="row minhaTable listaDeTreinos" ng-show="temRegistro" ng-repeat="medida in medidas | orderBy:ordenarPor:true">
                <div class="col-xs-10" ng-click="obter(medida)">
                    <div class="row academiaNome">{{medida.DataDeCriacao | date:'dd/MM/yyyy'}}</div>
                    <div class="row academiaCidadeBairro">Altura: {{medida.Altura}}</div>
                    <div class="row academiaCidadeBairro">Peso: {{medida.Peso}}</div>
                </div>
                <div class="pull-right" ng-click="obter(medida)">
                    <img class="img-responsive" ng-if="medida.Peso >= 100" src="img/homemGordo.png" />
                    <img class="img-responsive" ng-if="medida.Peso > 70 && medida.Peso < 100" src="img/homemSarado.png" />
                    <img class="img-responsive" ng-if="medida.Peso <= 70" src="img/homemMagro.png" />
                </div>
            </div>
            
            <div class="row" ng-hide="temRegistro">
                <div class="col-xs-12">
                    Ainda sem medidas? Clique nos 3 pontos, do lado direito superior e depois clique em adicionar medidas. Os 3 pontos será encontrado em outras telas, ele é o menu da tela.
                </div>
            </div>
        </div>

        <div class="container" ng-show="exibirFormEditar">
            <div class="row obsAcademiaAdicionar">Anote suas medidas e verifique seu progresso!</div>
            <form class="form-horizontal" role="form" name="form">
                <div class="form-group" ng-class="{'has-error': form.altura.$dirty && form.altura.$invalid}">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2">Altura:</label>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <input type="tel" class="form-control" ng-model="formEditar.altura" name="altura" required so-numeros-decimal maxlength="8" />
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.peso.$dirty && form.peso.$invalid}">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2">Peso:</label>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <input type="tel" class="form-control" ng-model="formEditar.peso" name="peso" required so-numeros-decimal maxlength="8" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2">Braço:</label>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <input type="tel" class="form-control" ng-model="formEditar.braco" name="braco" so-numeros-decimal maxlength="8" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2">Tórax:</label>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <input type="tel" class="form-control" ng-model="formEditar.torax" name="torax" so-numeros-decimal maxlength="8" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2">Perna:</label>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <input type="tel" class="form-control" ng-model="formEditar.perna" name="perna" so-numeros-decimal maxlength="8" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2">Cintura:</label>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <input type="tel" class="form-control" ng-model="formEditar.cintura" name="cintura" so-numeros-decimal maxlength="8" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <span class="alert-laranja">{{status}}</span>
                    </div>
                </div>
                <div class="finalDaPagina200">&nbsp;</div>
            </form>
        </div>
    </div>
</div>

<!-- Bottom -->
<div class="navbar navbar-app navbar-absolute-bottom meuBotoom" ng-click="submenu = false">
    <div class="col-xs-6 btn-navbar text-left">TREINO PRO</div>
    <div class="col-xs-6 btn-navbar text-right" ng-show="carregando">
        Carregando <i class="fa fa-spinner fa-spin loading-spinner"></i>
    </div>
</div>
