﻿<!-- Topo -->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center"></div>
    <div class="btn-group pull-left">
        <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle bars">
            <i class="fa fa-bars"></i> <span class="paginaAtual">PROFESSOR</span>
        </div>
    </div>
</div>

<!-- Body -->
<div class="app-body" ng-click="menu=false">
    <div class="app-content scrollable-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12, col-sm-12, col-lg-12">
                    <input type="text" class="form-control inputBuscar" id="inputEmail3" placeholder="Professor" ng-model="nome">
                    <button type="submit" class="btn-meu btn-cinza-escuro submitBuscar" ng-class="{btnOpacity: carregando}" ng-click="listar()" ng-disabled="carregando">
                        {{labelBuscar}}
                    </button>
                </div>
            </div>
            <div class="row minhaTable listaAcademias" ng-show="temRegistro" ng-repeat="professor in professores">
                <div class="col-xs-3">
                    <img src="http://graph.facebook.com/{{professor.FacebookId}}/picture?type=square" class="img-responsive img-circle" alt="" />
                </div>
                <div class="col-xs-7">
                    <div class="row academiaNome">{{professor.Nome}}</div>
                    <div class="row academiaCidadeBairro">{{professor.Academia.Nome}} - {{professor.Academia.Bairro}}</div>
                </div>
                <div ng-hide="professor.SouProfessor" type="button" ng-click="selecionar(professor.Id)" ng-disabled="carregando" class="col-xs-2 pull-right icoAtivoTreinos" ng-class="{'btnOpacity': carregando}">
                    <i class="fa fa-check-circle-o"></i>
                </div>
                <div ng-show="professor.SouProfessor" type="button" ng-click="remover(professor.Id)" ng-disabled="carregando" class="col-xs-2 pull-right icoAtivoTreinos icoOkAtivo" ng-class="{'btnOpacity': carregando}">
                    <i class="fa fa-check-circle-o"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bottom -->
<div class="navbar navbar-app navbar-absolute-bottom meuBotoom">
    <div class="col-xs-6 btn-navbar text-left">TREINO PRO</div>
    <div class="col-xs-6 btn-navbar text-right" ng-show="carregando">
        Carregando <i class="fa fa-spinner fa-spin loading-spinner"></i>
    </div>
</div>
