﻿<div class="scrollable">
    <div class="scrollable-content">
        <!-- resumo -->
        <div class="row" ng-repeat="blog in blogs" ng-hide="detalhe">
            <div class="col-xs-12 blog" ng-click="selecionar(blog)">
                <img src="{{blog.Imagem}}" alt="{{blog.Imagem}}" />
                <div class="alpha60 titulo">
                    <span class=" col-xs-12">
                        <strong>{{blog.DataDeCriacao | date:'dd/MM/yyyy'}}</strong> -
                        {{blog.Titulo}}
                    </span>
                </div>
            </div>
        </div>

        <!-- detalhe -->
        <div class="row" ng-show="detalhe">
            <div class="col-xs-12 blog">
                <img src="{{blog.Imagem}}" alt="{{blog.Imagem}}" />
                <div class="alpha60 titulo">
                    <span class=" col-xs-12">
                        <strong>{{blog.DataDeCriacao | date:'dd/MM/yyyy'}}</strong> -
                        {{blog.Titulo}}
                    </span>
                </div>
            </div>
            <div class="col-xs-12">
                {{blog.Descricao}}
            </div>
            <div class="col-xs-12">
                <input type="button" class="btn-laranja-escuro-100 marginTop20" value="Voltar" ng-click="voltar()" />
            </div>
        </div>
    </div>
</div>